@import "_bootstrap";

.App {
}

.dashboard {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

    &.qrcode-ok {
      animation: none;
    }
  }
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 20px;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  @include media-breakpoint-down(xlg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  border: 5px solid #dee2e6 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  padding: 10px;
  background: #fff;

  &.active {
    opacity: 1;
  }

  &.marked {
    border-style: dashed !important;
    border-color: #83878b !important;
  }

  > img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    pointer-events: none;
  }

  > h5 {
    text-wrap: wrap;
    word-break: break-all;
  }

  > .participants {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;

    > img {
      margin: -13px;
      padding: 5px 10px;
      border-radius: 50%;
      width: 70px;
      height: auto;
    }
  }
}


.mark-section {
  display: flex;
  padding: 20px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;

  > .buttons,
  > .form-group {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    text-wrap: nowrap;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}